services:
    block:
        container_name: block
        image: timefactory/block
        volumes:
            - geth:/.ethereum
        user: 0:0
        networks:
            - timefactory

    smart-contract-verifier:
        container_name: smart-contract-verifier
        image: ghcr.io/blockscout/smart-contract-verifier
        pull_policy: always
        restart: always
        networks:
            - timefactory
        expose:
            - 8051
        environment:
            - SMART_CONTRACT_VERIFIER__SERVER__HTTP__ENABLED=false
            - SMART_CONTRACT_VERIFIER__SERVER__GRPC__ENABLED=true
            - SMART_CONTRACT_VERIFIER__SERVER__GRPC__ADDR=0.0.0.0:8051
            - SMART_CONTRACT_VERIFIER__SOLIDITY__ENABLED=true
            - SMART_CONTRACT_VERIFIER__SOLIDITY__COMPILERS_DIR=/tmp/solidity-compilers
            - SMART_CONTRACT_VERIFIER__SOLIDITY__REFRESH_VERSIONS_SCHEDULE=0 0 * * * * *
            - SMART_CONTRACT_VERIFIER__SOLIDITY__FETCHER__LIST__LIST_URL=https://solc-bin.ethereum.org/linux-amd64/list.json
            - SMART_CONTRACT_VERIFIER__VYPER__ENABLED=true
            - SMART_CONTRACT_VERIFIER__VYPER__COMPILERS_DIR=/tmp/vyper-compilers
            - SMART_CONTRACT_VERIFIER__VYPER__REFRESH_VERSIONS_SCHEDULE=0 0 * * * * *
            - SMART_CONTRACT_VERIFIER__VYPER__FETCHER__LIST__LIST_URL=https://raw.githubusercontent.com/blockscout/solc-bin/main/vyper.list.json
            - SMART_CONTRACT_VERIFIER__SOURCIFY__ENABLED=true
            - SMART_CONTRACT_VERIFIER__SOURCIFY__API_URL=https://sourcify.dev/server/
            - SMART_CONTRACT_VERIFIER__SOURCIFY__VERIFICATION_ATTEMPTS=3
            - SMART_CONTRACT_VERIFIER__SOURCIFY__REQUEST_TIMEOUT=15
            - SMART_CONTRACT_VERIFIER__COMPILERS__MAX_THREADS=8
            - SMART_CONTRACT_VERIFIER__METRICS__ENABLED=false
            - SMART_CONTRACT_VERIFIER__JAEGER__ENABLED=false

    eth-bytecode-db:
        container_name: eth-bytecode-db
        image: ghcr.io/blockscout/eth-bytecode-db
        pull_policy: always
        restart: always
        depends_on:
            - smart-contract-verifier
        networks:
            - timefactory
        expose:
            - 8051
        environment:
            - ETH_BYTECODE_DB__SERVER__HTTP__ENABLED=false
            - ETH_BYTECODE_DB__SERVER__GRPC__ENABLED=true
            - ETH_BYTECODE_DB__SERVER__GRPC__ADDR=0.0.0.0:8051
            - ETH_BYTECODE_DB__DATABASE__URL=postgresql://postgres:${POSTGRES_PASSWORD}@postgres:5432/eth_bytecode_db
            - ETH_BYTECODE_DB__DATABASE__CREATE_DATABASE=true
            - ETH_BYTECODE_DB__DATABASE__RUN_MIGRATIONS=true
            - ETH_BYTECODE_DB__VERIFIER__HTTP_URL=http://smart-contract-verifier:8050
            - ETH_BYTECODE_DB__VERIFIER__MAX_RETRIES=3
            - ETH_BYTECODE_DB__VERIFIER__PROBE_URL=false
            - ETH_BYTECODE_DB__SOURCIFY__BASE_URL=https://sourcify.dev/server/
            - ETH_BYTECODE_DB__SOURCIFY__MAX_RETRIES=3
            - ETH_BYTECODE_DB__VERIFIER_ALLIANCE_DATABASE__ENABLED=false
            - ETH_BYTECODE_DB__METRICS__ENABLED=false
            - ETH_BYTECODE_DB__JAEGER__ENABLED=false

    sig-provider:
        container_name: sig-provider
        image: ghcr.io/blockscout/sig-provider
        pull_policy: always
        restart: always
        depends_on:
            - eth-bytecode-db
        networks:
            - timefactory
        expose:
            - 8051
        environment:
            - SIG_PROVIDER__SERVER__HTTP__ENABLED=false
            - SIG_PROVIDER__SERVER__GRPC__ENABLED=true
            - SIG_PROVIDER__SERVER__GRPC__ADDR=0.0.0.0:8051
            - SIG_PROVIDER__SOURCES__FOURBYTE=https://www.4byte.directory/
            - SIG_PROVIDER__SOURCES__SIGETH=https://sig.eth.samczsun.com/
            - SIG_PROVIDER__SOURCES__ETH_BYTECODE_DB__ENABLED=true
            - SIG_PROVIDER__SOURCES__ETH_BYTECODE_DB__URL=http://eth-bytecode-db:8050
            - SIG_PROVIDER__METRICS__ENABLED=false
            - SIG_PROVIDER__JAEGER__ENABLED=false

    user-ops-indexer:
        container_name: user-ops-indexer
        image: ghcr.io/blockscout/user-ops-indexer
        pull_policy: always
        restart: always
        networks:
            - timefactory
        expose:
            - 8051
        environment:
            - USER_OPS_INDEXER__SERVER__HTTP__ENABLED=false
            - USER_OPS_INDEXER__SERVER__GRPC__ENABLED=true
            - USER_OPS_INDEXER__SERVER__GRPC__ADDR=0.0.0.0:8051
            - USER_OPS_INDEXER__DATABASE__CONNECT__URL=postgresql://postgres:${POSTGRES_PASSWORD}@postgres:5432/user_ops
            - USER_OPS_INDEXER__DATABASE__CREATE_DATABASE=true
            - USER_OPS_INDEXER__DATABASE__RUN_MIGRATIONS=true
            - USER_OPS_INDEXER__INDEXER__RPC_URL=ws://geth:8546
            - USER_OPS_INDEXER__INDEXER__CONCURRENCY=10
            - USER_OPS_INDEXER__INDEXER__REALTIME__ENABLED=false
            - USER_OPS_INDEXER__INDEXER__PAST_RPC_LOGS_INDEXER__ENABLED=false
            - USER_OPS_INDEXER__INDEXER__PAST_DB_LOGS_INDEXER__ENABLED=false
            - USER_OPS_INDEXER__METRICS__ENABLED=false
            - USER_OPS_INDEXER__JAEGER__ENABLED=false

networks:
    timefactory:
        external: true
volumes:
    geth:
        external: true
