services:
    block:
        container_name: block
        image: timefactory/block
        volumes:
            - geth:/.ethereum
            - ./outpout:/output
        # user: 0:0
        networks:
            - timefactory

networks:
    timefactory:
        external: true
volumes:
    geth:
        external: true
